.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 100;
  width: 100%;
}
.header-icon {
  object-fit: contain;
  height: 100px;
  margin-left: 20px;
}


.header-middle {
  display: flex;
  align-items: center;
  flex: 1;
  max-width: fit-content;
  padding: 10px;
  height: 30px;border: 1px solid lightgrey;
  border-radius: 100px;
}
.header-middle input {
  border: none;
  padding: 10px;
  outline-width: 0;
  /* width: 250px;
  max-width: 250px; */
}

.header-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 15vw;
  margin-right: 80px;
}

.banner {
  background: url("https://images.pexels.com/photos/2251247/pexels-photo-2251247.jpeg?auto=compress&cs=tinysrgb&w=1260&h=450&dpr=2") center center;
  height: 50vh;
  /* object-fit:  contain; */
 position: relative;
} 

.banner-info {
  background-color: black;
  color: white;
  padding-top: 25vh;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 40px;
  width: 300px;
}

.banner-info > button {
  background-color: #ff7779;
  color: white;
  padding: 5px;
  margin-top: 20px;
  font-weight: 600;
  border-radius: 4px;
}

.banner-info > h5 {
  margin-top: 15px; 
}

.search-button {
  background-color: white;
  font-weight: 900;
  color: #ff7779;
  padding: 5px;
}
.banner-search {
 display: flex;
 flex-direction: column;
}

.banner-info > button:hover {
  background-color: white;
  color: #ff7779;
}
