.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 100;
  width: 100%;
}
.loading-container {
  display: flex;
  justify-content: center;
}
.loading {
  text-align: center;
  padding: 20px;
}

.header-icon {
  object-fit: contain;
  height: 100px;
  margin-left: 20px;
}


.header-middle {
  display: flex;
  align-items: center;
  flex: 1;
  max-width: fit-content;
  padding: 10px;
  height: 30px;
  border: 1px solid lightgrey;
  border-radius: 100px;
}

.header-middle input {
  border: none;
  padding: 10px;
  outline-width: 0;
  /* width: 250px;
  max-width: 250px; */
}

.header-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 15vw;
  margin-right: 80px;
}

.header-wishlist-count {
  /* position: static; */
  margin-left: -50px;
  margin-bottom: 20px;
  font-weight: 500;
  padding: 2px;
  color: white;
  background-color: #FF385C !important;;
  border-radius: 10px ;
  border: 1px solid white;
}

.banner {
  background: url("https://images.pexels.com/photos/2251247/pexels-photo-2251247.jpeg?auto=compress&cs=tinysrgb&w=1260&h=450&dpr=2") center center;
  height: 50vh;
  /* object-fit:  contain; */
  position: relative;

}

.banner-info {
  background-color: black;
  color: white;
  padding-top: 25vh;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 40px;
  width: 300px;
}

.banner-info>button {
  background-color: #ff7779;
  color: white;
  padding: 5px;
  margin-top: 20px;
  font-weight: 600;
  border-radius: 4px;
}

.banner-info>h5 {
  margin-top: 15px;
}

.search-button {
  background-color: white;
  font-weight: 900;
  color: #ff7779;
  padding: 5px;
}

.banner-search {
  display: flex;
  flex-direction: column;
}

.banner-info>button:hover {
  background-color: white;
  color: #ff7779;
}

.search {
  position: absolute;
  top: 35px;
  left: 25px;
  width: 100vw;
}

.search>h2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 559px;
  padding: 10px;
  background-color: white;
  position: absolute;
  left: 0;
  top: 370px;
}

.search>input {
  width: 530px;
  padding: 20px;
  position: absolute;
  left: 0;
  height: 30px;
  top: 430px;
  border: none;
}

.search>input:focus {
  outline-width: 0;
}

.search > a {
  position: absolute;
  left: 0;
  top: 480px;
  background-color: #ff7779;
  color: white;
  width: 579px;
  padding: 5px;
  border-radius: 5px;
  text-decoration: none;
  text-align: center;
}

.search > a:hover {
  background-color: rgb(250, 248, 248);
  color: #ff7779;
}

.home-section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 40px;

}

.card-container {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  margin: 10px;
  max-width: 210px;
  max-height: 320px;
  border-radius: 10px;
  box-shadow: 0px 6px 18px -9px rgba(0, 0, 0, 0.75);
  transition: transform 100ms ease-in-out;
  cursor: pointer;
  overflow: scroll;
}

.card:hover {
  transform: scale(1.05);
}

.card img {
  margin-top: -6px;
  border-radius: 10px;
  object-fit: fill;
  min-width: 165px;
  min-height: 160px;
  width: 100%;
}

.card-info {
  margin-top: -9px;
  border-radius: 10px;
  padding: 20px;
  padding-top: 20px;
  border: 1;
}

.card-info > h3 {
  font-size: 18px;
  font-weight: 600;
}
.card-info > h4 {
  font-size: 14=5px;
  font-weight: 500;
  margin-top: 8px;
  margin-bottom: 8px;
}

.footer {
  border-top: 1 px solid black;
  padding: 20px;
  background-color: rgba(245, 243, 243, 0.753);
   bottom: 0;
   text-align: center;
   bottom: 0;
}

.footer > p {
  padding: 5px;
  font-size: 14px;
}

.search-results-container {
  display: flex;
  flex-direction: column;
  
}

.search-results {
  display: flex;
  position: relative;
  margin: 20px;
  padding: 20px;
  border-bottom: 1px solid rgb(174, 172, 172);
  cursor: pointer;
}

.search-results:hover {
  opacity: 0.8;
}

.search-results img {
  height: 200px;
  /* width: 350px; */
  border-radius: 10px;
  /* overflow: hidden; */
}

.search-results-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 20px;
}

.search-results-heart {
  position: absolute;
  top: 20px;
  right: 40px;
}

.search-results-heart:hover {
  fill: red;
}

.search-results-infoTop {
  width: 40vw;
}

.search-results > h3 {
  font-weight: 300;
  margin-top: 10px;
}

.search-results-infoTop > p {
  margin-top: 10px;
  font-size: 15px;
  color: gray;
}

.search-results-infoBottom {
  display: flex;
  justify-content: space-between;
}

.search-results-price > p {
  text-align: right;
}

.search-results-price {
  position: absolute;
  bottom: 20px;
  right: 30px;
}

.card-search-results {
  display: flex;
  position: relative;
  margin: 20px;
  padding: 20px;
  border-bottom: 1px solid rgb(174, 172, 172);
  cursor: pointer;
  flex-direction: column;
  align-items: center;
}

.card-search-results img {
  margin-top: 20px;
  border-radius: 10px;
  object-fit: contain;
  min-width: 135px;
  min-height: 400px;
  /* margin-left: 50px; */
}

.search-results-heart-title {
  position: absolute;
  top: 20px;
  right: 34px;
  text-decoration: underline;
}

.card-details-type {
 margin-top: 10px;
}

.card-search-results-infoTop > p {
  width: 50vw;
  margin-top: 10px;
  font-size: 20px;
  color: rgb(94, 93, 93);
}

.card-search-results-heart {
  position: absolute;
  top: 20px;
  right: 80px;
}

.card-search-results-heart:hover {
  fill: red;
}

.card-search-results-price {
  font-size: large;
  position: absolute;
  bottom: 20px;
  right: 30px;
}

.wishlist {
  color: black;
  text-decoration: none;
}

.wishlist:hover {
  color: rgb(98, 96, 96);
}

.link1 {
  color: black;
  text-decoration: none;
  border-bottom: 1px solid rgb(220, 217, 217);
}

.p-menu1{
   height: 100%;
}


.hamburger1 {
  /* height: 45px; */
  /* margin: 20px; */
  display: -ms-grid;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  justify-items: center;
  z-index: 120;
}

.hamburger1 div {
  background-color: rgb(61, 61, 61);
  position: relative;
  width: 40px;
  height: 3px;
  margin-top: 2px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

#toggle1 {
  display: none;
}

#toggle1:checked + .hamburger1 .top {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  margin-top: 22.5px;
}
.hamburger1 .top {
  width: 25px;
}

.hamburger1 .meat {
  width: 25px;
}

.hamburger1 .bottom {
  width: 25px;
}

#toggle1:checked + .hamburger1 .meat {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  margin-top: -5px;
}

#toggle1:checked + .hamburger1 .bottom {
  -webkit-transform: scale(0);
          transform: scale(0);
}

#toggle1:checked ~ .menu1 {
  margin-left: -80px;
  height: 170px;
  width: 150px;
  border-radius: 10px;
  box-shadow: 0px 6px 18px -9px rgba(0, 0, 0, 0.75);
}

.menu1 {
  position: absolute;
  width: 100%;
  background-color: white;
  margin: 0;
  display: -ms-grid;
  display: grid;
  grid-template-rows: 1fr repeat(4, 0.5fr);
  grid-row-gap: 25px;
  padding: 0;
  list-style: none;
  clear: both;
  width: auto;
  text-align: center;
  height: 0px;
  overflow: hidden;
  transition: height .4s ease;
  z-index: 120;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.menu1 a:first-child {
  margin-top: 40px;
}

.menu1 a:last-child {
  margin-bottom: 40px;
}

.link1 {
  width: 100%;
  margin: 0;
  padding: 10px 0;
  font: 400 15px 'Oswald', sans-serif;
}

.link1:hover {
  background-color: rgb(247, 241, 241);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}






 